/*------------------------------------*\
  #SECTION-PORTFOLIO
\*------------------------------------*/
.portfolio {

	.desc-section {
		margin-bottom: 50px;
		letter-spacing: 0;

		@media screen and (min-width: $bp-medium) {
			margin-bottom: 50px;
			max-width: 780px;
		}
	}

	.nav {
        .nav-portofolio {
        	margin: 0px;
            .nav-link {
                color: $c-b;
                padding: 0 10px;
                font-size: 14px;
                letter-spacing: 1.5px;
                &:hover {
                    color: #ea5600;
                }
            }
            .active {
                color: #ea5600;
            }

			@media screen and (min-width: $bp-medium) {
				margin: 0 16px;
				.nav-link {
					font-size: 16px;
					padding: 0!important;
				}
			}

        }
    }

    .portfolio-photo {
    	padding: 70px 0;
    } 
}